@import "mixin", "footer", "variables";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Roboto&family=Roboto+Condensed&family=Rubik+Mono+One&family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-direction: row;
    background: $color-fondo;
    img{
        width: 17px;
        height: 30px;
    }
    ul{
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}
.btn-personalizado{
    font-family: 'Bebas Neue', cursive;
    color: black;
    background: $color-tema
    
}
h1{
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
}
h2{
    color: black;
    padding: 20px;
    border: 10px;
    margin: 0px;
    text-align: center;
}
h3{
    color: aliceblue;
}
h4{
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
body{
    background-image: url(../img/foto-de-fondo.jpg);
    background-position: initial;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}s
.marca{
    font-size: small;
}
.boton2{
    color: white;
}
.eslogan{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    text-align: center;
}
main{
    h3{
        color: black;
    }
}

.seccion{
    background: rgb(15,21,33);
    background: linear-gradient(56deg, rgba(15,21,33,1) 0%, rgba(64,74,93,1) 46%, rgba(16,21,32,1) 94%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 8px;
    border-inline-end-color: blue;
    padding: 8px;
    .actividades{
        background: $color-tema;
        width: 225px;
        height: 225px;

    }
    ol{
        li{
            color: black;
            list-style: none;
            text-decoration: none;
            border-radius: 2px;
            border: 1px;
            border-color: black;
        }
    }
    ul{
        li{
            list-style: none;
            text-decoration: none;
            color: aliceblue;
        }
    }
    h2{
        padding: 15px;
        background: $color-tema;
    }
    img{
        width: 100%;
        margin-top: 5pxs;
    }
    .horarios{
        
        width: 100%;
    }
    p{
        padding: 5px;
        font-family: 'Sriracha';
        font-weight: 300;
        font-style: normal;
        text-align: justify;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: auto; /* espacio entre letras*/
        word-spacing: 1px;  /* espacio entre palabras*/
        color: rgb(185, 185, 185);
        margin-top: 10px;
        margin-bottom: 1px;
    }
}
section table tr{
    font-size: small;
}

.formulario{
    margin: 10px;
    padding: 10px;
    border: black;
    color: aliceblue;
    background: $color-fondo;
    .enviar{
        background: $color-tema;
    }
    }
    
.submenu{
    grid-area: submenu;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    background-color: $color-fondo;
}




.video{
    display: flex;
    margin: 15px;
    padding: 15px;
    justify-content: space-around;
}
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}




nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
.video{
    grid-area: video;
}
.queeselpole{
    grid-area: queeselpole;
}
.sport{
    grid-area: sport;
}
.fitness{
    grid-area: fitness;
}
.exotic{
    grid-area: exotic;
}
.coreografico{
    grid-area: coreografico;
}
.historia{
    grid-area: historia;
}
.grid-index{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "nav"
    "main"
    "video"
    "submenu"
    "queeselpole"
    "sport"
    "fitness"
    "exotic"
    "coreografico"
    "historia"
    "horarios"
    "footer";
}
header{
    grid-area: header;
}
.mainTela{
    grid-area: main;
}
.tela{
    grid-area: tela;
}
.lira{
    grid-area: lira;
}
.horarioTela{
    grid-area: horariotela;
}
.horarioLira{
    grid-area: horariolira;
}
.gridTela{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "tela"
    "horariotela"
    "lira"
    "horariolira"
    "footer";
}




@media(min-width: 576px){
    .grid-index{
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "nav nav"
        "main main"
        "video video"
        "submenu submenu"
        "queeselpole queeselpole"
        "sport fitness"
        "exotic coreografico"
        "historia historia"
        "horarios horarios"
        "footer footer";
        
    }
    h1{
        font-size: 50px;
    }
}

@media(min-width: 768px){
    .grid-index{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "nav nav nav"
        "main main main"
        "video video video"
        "submenu submenu submenu"
        "queeselpole sport sport"
        "fitness exotic coreografico"
        "historia historia historia"
        "horarios horarios horarios"
        "footer footer footer";
    }
    .submenu{
        flex-direction: row;
        img{
            width: auto;
        }
    }
    

    .gridTela{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "main main"
        "tela lira"
        "horariotela horariolira"
        "footer footer";
    }
}